[submodule "Pyxis/vendor/spdlog"]
	path = Pyxis/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Pyxis/vendor/GLFW"]
	path = Pyxis/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "Pyxis/vendor/ImGui"]
	path = Pyxis/vendor/ImGui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "Pyxis/vendor/glm"]
	path = Pyxis/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Pyxis/vendor/ASSIMP"]
	path = Pyxis/vendor/ASSIMP
	url = https://github.com/assimp/assimp
[submodule "Pyxis/vendor/box2d"]
	path = Pyxis/vendor/box2d
	url = https://github.com/erincatto/box2d
